.login-box {
  display: flex;
  //justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;

  .header-text {
    font-size: 18px;
    font-weight: 500;
  }

  .box-btn {
    height: 60px;
    width: 60%;
    border-radius: 33px;
    background-color: rgba(73, 187, 189, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .btn-tab {
      background-color: transparent;
      border: none;
      height: 40px;
      width: 45%;
      border-radius: 36px;
      font-size: 16px;
      font-weight: 450;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: black;

      &.active {
        background-color: #49bbbd;
      }

      &:hover {
        background-color: #49bbbd;
        opacity: 0.6;
      }
    }
  }

  .description-content {
    line-height: 1.8;
  }

  .form-login {
    display: flex;
    flex-direction: column;
    width: 96%;

    .box-item {
      display: flex;
      flex-direction: column;

      .item-name {
        font-weight: 600;
      }

      .item-input {
        height: 54px;
        border-radius: 40px;
        border: 1px solid #49bbbd;
        outline: #49bbbd;
        padding: 0 18px;
        font-size: 18px;
      }
    }

    .detail-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .remember-me {
        .checkbox {
        }
      }

      .forgot-password {
      }
    }

    .div-submit {
      width: 100%;
      display: flex;
      align-items: flex-end;

      .btn-submit {
        background-color: rgba(73, 187, 189, 1);
        border: none;
        height: 50px;
        float: right;
        outline: #49bbbd;
        border-radius: 40px;
        width: 40%;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .login-box {
    width: 92%;
    .box-btn {
      width: 80%;
    }

    .form-login {
      width: 100%;
    }
  }
}
